.kz-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 40px;
    overflow-x: hidden;
    overflow-y: auto;
}
.fm-header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 39px;
    line-height: 39px;
    color: #111;
    z-index: 998;
    padding: 0 4%;
    border-bottom: 1px solid #dbdbdb;
    .back {
        float: left;
        padding-left: 15px;
        background: url('./images/back.png') no-repeat 0 center;
        background-size: 10px 17px;
        font-size: 15px;
    }
    .logo {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 20%;
        font-size: 18px;
        z-index: -1;
        text-align: center;
    }
}