html {
    font-size: 87.5%;
    -webkit-overflow-scrolling: touch;
}

body {
    height: 1.5;
    overflow: hidden;
    color: #333;
    font-size: 16px;
    font-family: 'Microsoft Yahei', sans-serif;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-break: break-all;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-after: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
}

a {
    color: #333;
    text-decoration: none;
    background-repeat: no-repeat;
    outline: none;
}

textarea {
    resize: none;
}

img,
video {
    max-width: 100%;
}

button,
input,
textarea,
a:focus {
    outline: none;
}

h2 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

h3 {
    margin: 0;
}

ul li {
    list-style: none
}

ol {
    padding-left: 20px;
    list-style-type: decimal;
    & li {
        list-style-position: outside;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    & td {
        word-break: break-all;
    }
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
}

.none {
    display: none;
}

.clearfix::after {
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    content: "."
}

.clearfix {
    *height: 1%;
}