.fm-home-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 55px;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.fm-home-header {
    position: absolute;
    top: 0;
    z-index: 998;
    width: 100%;
    height: 40px;
    padding: 0 4%;
    color: white;
    line-height: 40px;
    .back {
        float: left;
        padding-left: 15px;
        font-size: 15px;
        background: url('../images/back.png') no-repeat 0 center;
        background-size: 10px 17px;
    }
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        padding: 0 20%;
        font-size: 18px;
        text-align: center;
    }
    .reminder {
        float: right;
        width: 20px;
        height: 40px;
        background: url('../images/icon4.png') no-repeat right center;
        background-size: 20px 20px;
    }
}