.fm-account {
    padding: 0 5%;
    height: 170px;
    padding-top: 60px;
    background: #123351 url('../images/bg.jpg') no-repeat center 0;
    background-size: cover;
    color: white;
    li {
        &:nth-child(2){
            font-size: 20px;
            margin-bottom: 15px;
        }
        &:last-child(){
            margin-bottom: 0;
        }
        .inline{
            display: inline-block;
        }
    }
}