.fm-home-icon {
    ul{
        overflow-x: hidden;
    }
    li {
        width: 33.3%;
        float: left;
        text-align: center;
        padding: 12px 0;
        i {
            width: 35px;
            height: 35px;
            background: url('../images/icon1.png') no-repeat center 0;
            margin: 0 auto;
            display: block;
            background-size: cover;
        }
        &:nth-child(2) {
            i {
                background-image: url('../images/icon2.png')
            }
        }
        &:nth-child(3) {
            i {
                background-image: url('../images/icon3.png')
            }
        }
        p {
            margin-top: 8px;
        }
    }
    .line {
        height: 15px;
        width: 100%;
        background-color: #f2f2f2;
    }
}