.fm-list {
    margin-top: 10px;
    dl {
        padding: 15px 5%;
        border-bottom: 1px solid #eee;
        &:last-child {
            border-bottom: 0;
        }
        dt {
            color: #111;
            font-size: 18px;
            i {
                display: block;
                float: left;
                width: 25px;
                color: #3473c9;
                font-style: normal;
            }
        }
        dd {
            margin-top: 5px;
            padding-right: 20px;
            // background: url('../images/more.png') no-repeat right center;
            background-size: 6px 11px;
            i {
                display: block;
                float: left;
                width: 25px;
                padding-top: 2px;
                color: #3473c9;
                font-size: 18px;
                font-style: normal;
            }
            &>div {
                height: 48px;
                margin-top: 5px;
                overflow: hidden;
                color: #999;
                line-height: 24px;
            }
        }
    }
}