<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>example</title>
    <link rel="shortcut icon" href="@global/fm/favicon.ico">
    <link rel="stylesheet" href="@static/example/index.css">
</head>
<body>
    <div id="root"></div>
    <script src="@global/fm/base.js"></script>
    <script src="@static/vendor.js"></script>
    <script src="@static/example/index.js"></script>
</body>
</html>