.button {
    position: fixed;
    bottom: 0;
    width: 100%;
    li {
        float: left;
        width: 50%;
        height: 50px;
        color: white;
        font-size: 15px;
        line-height: 50px;
        text-align: center;
        background-color: #d3b878;
        &:first-child {
            background-color: #12395a;
        }
    }
}